@import 'nib'

body
	padding 50px
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a:link
	color #333333
	text-decoration none

a:visited
	color #aaaaaa
	text-decoration none

a:hover
	color #0088cc
	text-decoration underline

.status200
	color green

.content
	width 1200px
	margin-left auto
	margin-right auto

.status
	margin 0px
	background-image linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230))
	border 1px solid #e3e3e3
	border-radius 5px
	font-size 14px
	padding 5px
	margin-bottom 10px

.listing
	margin-bottom 30px
	font-size 16px
	clearfix()

.photo
	float left

.description
	float left

.map
	float right

.header
	background-image linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230))
	border 1px solid #e3e3e3
	border-radius 10px
	font-weight bold
	font-size 18px
	padding 9px
	margin 0px
	margin-bottom 10px

.polaroid
	padding 4px
	background-color #fff
	border 1px solid #ccc

.price
	color #83aa2f
	margin-left 5px
	margin-right 5px